*target*
*.jar
*.war
*.ear
*.class

# eclipse specific git ignore
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# ignore temp test folders and the eclipse settings file
group-project/test
group-project/.settings
