*target*
*.jar
*.war
*.ear
*.class

# eclipse specific git ignore
group-project/.metadata
group-project/.settings/
group-project/bin/
group-project/target/
group-project/.classpath
group-project/.project
tmp/**

*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath

# Locally stored "Eclipse launch configurations"
*.launch