<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>


	<servlet>
		<servlet-name>javax.ws.rs.core.Application</servlet-name>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>javax.ws.rs.core.Application</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>LogoutServlet</display-name>
		<servlet-name>com.ericsson.msc.group5.servlet</servlet-name>
		<servlet-class>com.ericsson.msc.group5.servlet.LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>com.ericsson.msc.group5.servlet</servlet-name>
		<url-pattern>/LogoutServlet</url-pattern>
	</servlet-mapping>

	<!-- LOGOUT FILTER THAT REDIRECTS TO THE LOGIN PAGE IF THE USER TRIES TO 
		ACCESS logout.html directly -->
	<!-- <filter> -->
	<!-- <filter-name>loguoutFilter</filter-name> -->
	<!-- <filter-class>com.ericsson.msc.group5.servlet.LogoutServlet</filter-class> -->
	<!-- </filter> -->

	<!-- <filter-mapping> -->
	<!-- <filter-name>loguoutFilter</filter-name> -->
	<!-- <url-pattern>/logout.html</url-pattern> -->
	<!-- </filter-mapping> -->

	<login-config>
		<auth-method>FORM</auth-method>
		<realm-name>user-jaas-realm</realm-name>
		<form-login-config>
			<form-login-page>/login.html</form-login-page>
			<form-error-page>/access-denied.html</form-error-page>
		</form-login-config>
	</login-config>

	<security-constraint>
		<display-name>pages_auth</display-name>
		<web-resource-collection>
			<web-resource-name>pages_auth</web-resource-name>
			<url-pattern>/*</url-pattern>
			<url-pattern>/login.html</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>administrator</role-name>
			<role-name>customer service rep</role-name>
			<role-name>support engineer</role-name>
			<role-name>network mgmt engineer</role-name>
		</auth-constraint>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>importData</web-resource-name>
			<url-pattern>/rest/restImportService/import</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>administrator</role-name>
			<!-- <role-name>customer service rep</role-name> -->
			<!-- <role-name>support engineer</role-name> -->
			<!-- <role-name>network mgmt engineer</role-name> -->
		</auth-constraint>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>addUser</web-resource-name>
			<url-pattern>/rest/add/user</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>administrator</role-name>
		</auth-constraint>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>eventcauseDisplay</web-resource-name>
			<url-pattern>/rest/query/eventCause</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>administrator</role-name>
			<role-name>customer service rep</role-name>
			<role-name>support engineer</role-name>
			<role-name>network mgmt engineer</role-name>
		</auth-constraint>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>imsiByTimePeriod</web-resource-name>
			<url-pattern>/rest/query/imsiByTimePeriod</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>administrator</role-name>
			<!-- <role-name>customer service rep</role-name> -->
			<role-name>support engineer</role-name>
			<role-name>network mgmt engineer</role-name>
		</auth-constraint>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>imsiByTimePeriodDisplay</web-resource-name>
			<url-pattern>/rest/query/givenImsiByTimePeriod</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>administrator</role-name>
			<!-- <role-name>customer service rep</role-name> -->
			<!-- <role-name>support engineer</role-name> -->
			<role-name>network mgmt engineer</role-name>
		</auth-constraint>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>logout</web-resource-name>
			<url-pattern>/logout.html</url-pattern>
		</web-resource-collection>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>login</web-resource-name>
			<url-pattern>/login.html</url-pattern>
		</web-resource-collection>
	</security-constraint>

	<!-- OPEN UP ACCESS TO THE CSS FILES USED ON THE LOGIN PAGE -->
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>dist</web-resource-name>
			<url-pattern>/dist/*</url-pattern>
		</web-resource-collection>
	</security-constraint>

	<!-- OPEN UP ACCESS TO THE CSS FILES USED ON THE LOGIN PAGE -->
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>less</web-resource-name>
			<url-pattern>/less/*</url-pattern>
		</web-resource-collection>
	</security-constraint>

	<!-- OPEN UP ACCESS TO THE CSS FILES USED ON THE LOGIN PAGE -->
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>bower_components</web-resource-name>
			<url-pattern>/bower_components/*</url-pattern>
		</web-resource-collection>
	</security-constraint>
<!-- 	<security-constraint> -->
<!-- 		<web-resource-collection> -->
<!-- 			<web-resource-name>bower_components</web-resource-name> -->
<!-- 			<url-pattern>/bower_components/metisMenu/dist/metisMenu.min.css</url-pattern> -->
<!-- 		</web-resource-collection> -->
<!-- 	</security-constraint> -->
<!-- 	<security-constraint> -->
<!-- 		<web-resource-collection> -->
<!-- 			<web-resource-name>css</web-resource-name> -->
<!-- 			<url-pattern>/dist/css/sb-admin-2.css</url-pattern> -->
<!-- 		</web-resource-collection> -->
<!-- 	</security-constraint> -->
<!-- 	<security-constraint> -->
<!-- 		<web-resource-collection> -->
<!-- 			<web-resource-name>jquery</web-resource-name> -->
<!-- 			<url-pattern>/bower_components/jquery/dist/jquery.min.js</url-pattern> -->
<!-- 		</web-resource-collection> -->
<!-- 	</security-constraint> -->
<!-- 	<security-constraint> -->
<!-- 		<web-resource-collection> -->
<!-- 			<web-resource-name>bower_components</web-resource-name> -->
<!-- 			<url-pattern>/bower_components/bootstrap/dist/js/bootstrap.min.js</url-pattern> -->
<!-- 		</web-resource-collection> -->
<!-- 	</security-constraint> -->
<!-- 	<security-constraint> -->
<!-- 		<web-resource-collection> -->
<!-- 			<web-resource-name>bower_components</web-resource-name> -->
<!-- 			<url-pattern>/bower_components/metisMenu/dist/metisMenu.min.js</url-pattern> -->
<!-- 		</web-resource-collection> -->
<!-- 	</security-constraint> -->
<!-- 	<security-constraint> -->
<!-- 		<web-resource-collection> -->
<!-- 			<web-resource-name>bower_components</web-resource-name> -->
<!-- 			<url-pattern>/dist/js/sb-admin-2.js</url-pattern> -->
<!-- 		</web-resource-collection> -->
<!-- 	</security-constraint> -->

	<security-role>
		<role-name>administrator</role-name>
	</security-role>

	<security-role>
		<role-name>customer service rep</role-name>
	</security-role>

	<security-role>
		<role-name>network mgmt engineer</role-name>
	</security-role>

	<security-role>
		<role-name>support engineer</role-name>
	</security-role>
</web-app>
